{include file="header.html"}
<link href="css/search.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<div class="content">
  <div class="main">
  <div class="crumb"><span>当前位置：<a href="ea.php?r=LsArea/AreaList">旅游数据管理</a>&nbsp;&gt;&nbsp;搜索管理</span></div>
   <input type="hidden" id="subbarFlag" value="search" />
 
  <div class="tabtext" id="tabtext1" >
	<iframe id="frmnotemgr" name="frmnotemgr" width="100%" height="600px;" src="{$javaurl}include/mainleft.jsp?num=1"></iframe>
	</div>
</div>
</div>
{include file="footer.html"}
